<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css2?family=Cousine&family=Fira+Code&family=PT+Mono&family=Space+Mono&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="bootstrap/jquery.min.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <script src="javascripts/script.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    {{!-- CodeMirror --}}
    <script src="codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="codemirror/codemirror.css">
    <link rel="stylesheet" href="codemirror/codemirror-theme.css">
    <script src="codemirror/mode/javascript/javascript.js"></script>
    <script src="codemirror/addon/placeholder.js"></script>

    <title>Code Paste</title>
</head>

<body>
    <div class="">
        {{{body}}}
    </div>
    <script src="bootstrap/bootstrap.min.js"></script>

</body>

</html>